.git
.idea
.vscode

.env
.env.production
.env.local

mobile/node_modules
mobile/android/.gradle
mobile/android/build
mobile/android/app/build
packages/shared/dist

backend/uploads
backend/upload
backend/bin
backend/dist
backend/__debug_bin

postgres-data
webhook

*.log
.DS_Store
Thumbs.db
